main {
    margin: 0 auto;
    width: 75%;
    height: 80vh;

}
section {
    background-color: rgb(213, 199, 246);
    padding: 1.2rem;
    margin: 25px;
}
form {
    padding: 1.5rem;
}
form label {
    font-size: 1.3rem;
    font-weight: 700;
    color: rgb(34, 32, 46);
}
form input {
    display: block;
    width: 30%;
    height: 1.92rem;
    border-radius: .3rem;
}

form div {
    margin: 1rem 0;
}

button {
    background-color: rgb(71, 7, 160);
    border: none;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;

}
.bulletin-logo{
    height: 50px;
    width: 70px;
    float: left
}