* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: whitesmoke
}

nav ul{
    margin: 0px;
    padding:0px;
    overflow: hidden;
    background-color:rgb(34, 32, 46);
}

li{
    float:left;
    list-style: none;
}

li a{
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

li a:hover:not(.active) {
    background-color: rgb(71, 7, 160);
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-reddit {
  background: #e38e06;
  color: white;
}

.bulletin-logo{
    height: 50px;
    width: 70px;
    float: left
}
.hero {
  background-image: linear-gradient(#000000, rgba(55, 0, 94, 0.5)), url("../img/yosemite.jpeg");
  height: 65%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: #000000;
  border-radius: 5px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.card{
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 210px;
    height: 200px;
    display: inline-block;
    margin: 25px;
    text-align: center;
}

.card:hover {
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.2);
}
.lead {
    padding: 0px;
}
.container{
    padding: 2px 16px;
}

.article-main-body {
    padding:0px;
}

.article-main-img {
    margin: 0px;
}
.slight-space {
    height: 20px;
}
.center {
    text-align: center;
}
.bg-1 {
  background-image: url("../img/circuit-board.jpeg");
  /* Set a specific height */
  height: 55%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg-2{
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). */
  background-image: linear-gradient(#09070b, rgba(55, 0, 94, 0.5)), url("../img/engineer-1.jpeg");
  /* Set a specific height */
  height: 55%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.map1 {
    border: 0px;
    height: 300px;
    width: 300px;
    margin: 25px;
    display: inline-block;
}
.map-deets {
    float: right;
    margin: 100px;
    height: 100px;
    width: 200px;
}

.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color:rgb(34, 32, 46);
  }
  .footer .column {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .column h3 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgb(213, 199, 246);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }

  .footer .column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .column ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer .column ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }

  .clearfix {
    clear: both;
  }

  .foot{
    border-top: 1px solid #6c6a6a;
    color: whitesmoke;
    text-align: center;
  }
